.footer {
  &__container {
    height: 4590px;
    display: flex;
    color: var(--MRT-App-Neutral-01, #626687);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    opacity: 0.75;
    padding-right: 120px;
  }

  &__company-aside {
    width: 323px
  }

  &__logo-item {
    display: inline-block;
    background-image: url("../images/Frame 20.svg");
    width: 32px;
    height: 32px;
    margin-right: 24px;

    &--facebook {

      background-position: 0 0;
    }

    &--bird {
      background-position: -56px 0;
    }

    &--instagram {
      background-position: 32px 0;

    }
  }

  &__information {

    margin-bottom: 24px;
  }

  &__logos {
  }

  &__logo-item {
  }

  &__header {
    color: var(--Neutral-900, #0E1735);
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 0 0 24px 0
  }

  &__property {
    width: fit-content;

    margin-left: auto;
    margin-right: 88px;

  }

  &__property-item {
    margin-bottom: 18px;

    &--house {
    }

    &--apartment {
    }

    &--villa {
    }

    &--new-article {
    }

    &--popular-article {
    }

    &--most-read {
    }

    &--tips-tricks {
    }
  }

  &__article {
    width: fit-content;
    margin-right: 88px;


  }

  &__article-item {
    margin-bottom: 18px;
  }

  &__contact {
    width: fit-content;
  }

  &__contact-item {
    margin-bottom: 18px;

    &--address {
    }

    &--tel {
    }

    &--mail {
    }
  }
}

.logo--footer-margin {
  margin-bottom: 22px;
}