.logo {
  &__name {
    color: var(--MRT-App-Headline, #1b1c57);
    font-family: Lexend, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  &__name--margin-intro {
    margin-top: 45px;
    margin-bottom: 10px;
  }

  &__name::before {
    content: url('../images/logo.svg');
    width: 36px;
    height: 36px;
    vertical-align: -50%;
    margin-right: 6px;
  }
}

.intro {
  &__block-search {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  &__title {
    margin: 0;
    width: 100%;
    color: var(--MRT-App-Headline, #1b1c57);
    -webkit-text-stroke-color: var(--MRT-App-Headline, #1b1c57);
    font-family: Lexend-extra-bold, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }

  &__title--margin {
    margin-bottom: 24px;
  }

  &__title--transparent {
    font-family: Helvetica, serif;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px black;
    text-shadow: none;
  }

  &__desc {
    display: inline-block;
    width: 100%;
    color: var(--MRT-App-Neutral-01, #626687);
    font-family: Lexend-light, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    opacity: 0.75;
    margin-bottom: 32px;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  //width: 100%;
  padding: 4px 4px 4px 24px;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  border: 1px solid var(--Neutral-300, #e0e3eb);
  background: #fff;
  font-size: 10px;

  &__wrapper {
    &--margin-intro {
      margin-bottom: 32px;
    }
  }

  &__input {
    width: 100%;
    border: none;
    color: var(--Neutral-500, #888b97);
    font-family: Lexend, serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    &:focus-visible {
      outline: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 32px;
    background: var(--Green-500, #10b981);
    color: #fff;
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
  }

  &__location-logo {
    display: none;
  }
}

.partners {
  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  &__text {
    color: var(--Neutral-500, #888b97);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
  }

  &__logos-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__logo {
    display: inline-block;
    background: url('../images/Frame 9.png') no-repeat;

    width: 82.75px;
    height: 44px;

    &--traveloka {
    }

    &--tiketcom {
      background-position: -115px 0;
    }

    &--airbnb {
      background-position: -230px 0;
    }

    &--tripadvisor {
      background-position: -345px 0;
    }
  }
}

.intro {
  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    width: (100%);
  }

  &__aside {
    width: 100%;

    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 0px 30px 0px 30px;
    background: linear-gradient(17deg, #0c1537 -6.09%, rgba(12, 21, 55, 0) 32.63%),
    url('../images/image 6.jpg') lightgray no-repeat;
    background-size: cover;
  }

  &__header {
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  &__sign-up {
    display: inline-block;
    border: none;
    padding: 12px 24px;
    transform: translateY(-6px);
    border-radius: 32px;
    background: var(--Green-100, #d1fae5);
    color: var(--Green-700, #047857);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
  }
}

.menu {
  &__button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 32px;
    border: 0.5px solid #888b97;

    background-color: #e0e3eb;
    color: #888b97;

    font-family: Lexend, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    width: 90px;

    &--drop-down {
    }

    &--drop-down::after {
      width: 16px;
      height: 16px;
      //content: url('../images/eva_arrow-ios-forward-fill-down.svg');
      content: url('../images/eva_arrow-ios-forward-fill-down-grey.svg');
      margin-left: 10px;
      vertical-align: -30%;
    }
  }
}

.carousel {
  &__main-wrapper {
    overflow: hidden;
    margin: 0 0 48px 48px;
  }

  &__slider-wrapper .swiper-slide {
    width: auto;
  }
}

.slider {
  &__image {
    box-sizing: border-box;
    width: 46px;
    height: 46px;
    //width: 36px;
    //height: 36px;
    border-radius: 56px;
    border: 3px solid #fff;
    box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);

    &--people {
      display: flex;

      &:nth-child(1) {
        transform: translate(0%, 0px);
      }

      &:nth-child(2) {
        transform: translate(-50%, 0px);
      }

      &:nth-child(3) {
        transform: translate(-100%, 0px);
      }
    }
  }

  &__images-wrapper {
    display: flex;
    width: fit-content;
    margin-right: 16px;

    &--people {
      width: 70px;
      margin-right: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
    background-color: #fff;
    width: fit-content;
    box-shadow: 0 11px 48px 0 rgba(51, 51, 51, 0.06);
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__title {
    color: var(--MRT-App-Headline, #1b1c57);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
  }

  &__desc {
    color: var(--MRT-App-Subheadline, #68799f);
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
  }
}

@media (min-width: $sm) {
  .intro {
    &__container {
      display: flex;
      flex-direction: row;
    }

    &__block-search {
      display: flex;
      flex-direction: column;
      width: 40%;
    }

    &__aside {
      width: 50%;
    }
  }
}

@media (min-width: $md) {
  .intro__aside {
    height: 720px;
    border-radius: 0px 0px 0px 80px;
    background-size: cover;
  }
  .slider__content {
    flex-direction: row;
  }
  .intro__header {
    margin-bottom: 0px;
    margin-top: 46px;
    margin-left: 93px;
    width: 80%;
  }
  .partners {
    &__wrapper {
      margin: 0;
    }

    &__logos-list {
      display: flex;
      width: 427px;
      justify-content: space-between;
      flex-direction: row;
    }
  }
  .search {
    width: 100%;

    &__location-logo {
      display: inline-block;
    }

    &__button {
      display: flex;
      padding: 12px 16px;
      align-items: center;
      gap: 4px;
      border: none;
      border-radius: 32px;
      background: var(--Green-500, #10b981);
      color: #fff;
      font-family: Lexend;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px;
    }
  }
  .menu__button {
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    color: var(--Neutral-100, #f0f3fd);

    &--drop-down::after {
      width: 16px;
      height: 16px;
      //cont
    }
  }
  .slider {
    &__image {
      width: 56px;
      height: 56px;
    }

    &__content {
      padding: 24px;
      height: 104px;
    }

    &__images-wrapper {
      display: flex;
      width: fit-content;

      &--people {
        width: 112px;
        margin-right: 16px;
      }
    }
  }
}

@media (min-width: $xl) {
  .intro__container {
    width: calc(100%);
    height: 720px;
  }

  .logo {
    &__name {
      color: var(--MRT-App-Headline, #1b1c57);
      font-family: Lexend, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
    }

    &__name--margin-intro {
      margin-top: 45px;
      margin-bottom: 105px;
    }

    &__name::before {
      content: url('../images/logo.svg');
      width: 36px;
      height: 36px;
      vertical-align: -50%;
      margin-right: 6px;
    }
  }

  .intro {
    &__block-search {
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin: 0;
      width: 440px;
      color: var(--MRT-App-Headline, #1b1c57);
      -webkit-text-stroke-color: var(--MRT-App-Headline, #1b1c57);
      font-family: Lexend-extra-bold, serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
    }

    &__title--margin {
      margin-bottom: 24px;
    }

    &__title--transparent {
      font-family: Helvetica, serif;
      font-weight: 900;
      color: transparent;
      -webkit-text-stroke: 1px black;
      text-shadow: none;
    }

    &__desc {
      display: inline-block;
      width: 496px;
      color: var(--MRT-App-Neutral-01, #626687);
      font-family: Lexend-light, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
      opacity: 0.75;
      margin-bottom: 32px;
    }
  }

  .search {
    display: flex;
    justify-content: space-between;
    width: 496px;
    padding: 4px 4px 4px 24px;
    align-items: center;
    gap: 16px;
    border-radius: 32px;
    border: 1px solid var(--Neutral-300, #e0e3eb);
    background: #fff;

    &__wrapper {
      &--margin-intro {
        margin-bottom: 32px;
      }
    }

    &__input {
      width: 100%;
      border: none;
      color: var(--Neutral-500, #888b97);
      font-family: Lexend, serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 157.143% */
      &:focus-visible {
        outline: none;
      }
    }

    &__button {
      display: flex;
      padding: 12px 16px;
      align-items: center;
      gap: 4px;
      border: none;
      border-radius: 32px;
      background: var(--Green-500, #10b981);
      color: #fff;
      font-family: Lexend;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px; /* 157.143% */
    }

    &__button::after {
      display: inline-block;
      width: 24px;
      height: 24px;
      content: url('../images/eva_arrow-ios-forward-fill.svg');
      vertical-align: -50%;
    }
  }

  .partners {
    &__wrapper {
    }

    &__text {
      color: var(--Neutral-500, #888b97);
      font-family: Lexend;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
    }

    &__logos-list {
      display: flex;
      width: 427px;
      justify-content: space-between;
    }

    &__logo {
      display: inline-block;
      background: url('../images/Frame 9.png') no-repeat;

      width: 82.75px;
      height: 64px;

      &--traveloka {
      }

      &--tiketcom {
        background-position: -115px 0;
      }

      &--airbnb {
        background-position: -230px 0;
      }

      &--tripadvisor {
        background-position: -345px 0;
      }
    }
  }

  .intro {
    &__container {
      display: flex;
      margin-bottom: 120px;
    }

    &__aside {
      width: 720px;
      height: 720px;
      margin-left: auto;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0px 0px 0px 80px;
      background: linear-gradient(17deg, #0c1537 -6.09%, rgba(12, 21, 55, 0) 32.63%),
      url('../images/image 6.jpg') lightgray no-repeat;
      background-size: cover;
    }

    &__header {
      margin-top: 46px;
      margin-left: 93px;
      width: 507px;
      display: flex;
      justify-content: space-between;
    }

    &__sign-up {
      display: inline-block;
      border: none;
      padding: 12px 24px;
      transform: translateY(-6px);
      border-radius: 32px;
      background: var(--Green-100, #d1fae5);
      color: var(--Green-700, #047857);
      font-family: Lexend;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px; /* 157.143% */
    }
  }

  .menu {
    height: 34px;

    &__button {
      display: inline-block;
      padding: 8px 16px;
      border-radius: 32px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.1);
      color: var(--Neutral-100, #f0f3fd);
      font-family: Lexend, serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      height: 34px;
      margin-right: 24px;

      &--drop-down {
      }

      &--drop-down::after {
        width: 16px;
        height: 16px;
        content: url('../images/eva_arrow-ios-forward-fill-down.svg');
        margin-left: 10px;
        vertical-align: -30%;
      }
    }
  }

  .carousel {
    &__main-wrapper {
      overflow: hidden;
      margin: 0 0 48px 48px;
    }

    &__slider-wrapper .swiper-slide {
      width: auto;
    }
  }

  .slider {
    &__image {
      box-sizing: border-box;
      width: 56px;
      height: 56px;
      border-radius: 56px;
      border: 3px solid #fff;
      box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);

      &--people {
        display: flex;
        width: 112px;

        &:nth-child(1) {
          transform: translate(0%, 0px);
        }

        &:nth-child(2) {
          transform: translate(-50%, 0px);
        }

        &:nth-child(3) {
          transform: translate(-100%, 0px);
        }
      }
    }

    &__images-wrapper {
      display: flex;
      width: fit-content;

      &--people {
        width: 112px;
      }
    }

    &__content {
      display: flex;
      box-sizing: border-box;
      padding: 24px;
      align-items: center;
      justify-content: space-between;
      border-radius: 32px;
      background-color: #fff;
      width: fit-content;
      height: 104px;
      box-shadow: 0 11px 48px 0 rgba(51, 51, 51, 0.06);
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    &__title {
      color: var(--MRT-App-Headline, #1b1c57);
      font-family: Lexend;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }

    &__desc {
      color: var(--MRT-App-Subheadline, #68799f);
      font-family: Lexend;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 166.667% */
    }
  }
}

@media (min-width: $xxl) {
  .intro {
    &__container {
      width: 100%;
    }

    &__search {
      width: 60%;
    }

    &__title {
      width: 100%;
    }

    &__desc {
      width: 100%;
      text-align: center;
    }

    &__block-search {
      align-items: center;
      text-align: center;
    }
  }
  .partners__text {
    margin: 0 auto;
  }
  .search {
    &__wrapper {
    }
  }
  .intro__header {
    width: 80%;
  }
  .intro__aside {
    //width: 60%;
    width: 60%;
  }
}
