.button {
  border: none;
}

.container {
  font: 100% $font-stack;
  color: $primary-color;
  padding-left: 2rem;
  box-sizing: border-box;
  width: 100%;
  max-height: 7200px;
  height: auto;
  background: #fff;
  position: relative;
  background-image: url('../images/spot_intro_left.svg'), url('../images/spot_intro_top.svg'),
    url('../images/spot_orange_tour.svg'), url('../images/spot_yellow_tour.svg'),
    url('../images/spot_blue_article.svg.svg'), url('../images/spot_yellow_article.svg'),
    url('../images/spot_footer_blue.svg'), url('../images/spot_footer_yellow.svg');
  background-position:
    top left,
    top left,
    1040px 1452px,
    1099px 1574px,
    -170px 2930px,
    -142px 3187px,
    1146px 4203px,
    900px 4268px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}

.container--center {
  margin: 0 auto;
}

@media (min-width: $md) {
  .container {
    max-height: 6000px;
  }
}

@media (min-width: $xl) {
  .container {
    font: 100% $font-stack;
    color: $primary-color;
    padding-left: 120px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    max-height: 4590px;
    background: #fff;
    position: relative;
    background-image: url('../images/spot_intro_left.svg'), url('../images/spot_intro_top.svg'),
      url('../images/spot_orange_tour.svg'), url('../images/spot_yellow_tour.svg'),
      url('../images/spot_blue_article.svg.svg'), url('../images/spot_yellow_article.svg'),
      url('../images/spot_footer_blue.svg'), url('../images/spot_footer_yellow.svg');
    background-position:
      top left,
      top left,
      1040px 1452px,
      1099px 1574px,
      -170px 2930px,
      -142px 3187px,
      1146px 4203px,
      900px 4268px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  }
  .container--center {
    margin: 0 auto;
  }
}

@media (min-width: $xxl) {
  .container {
    max-width: 60%;
    padding: 0 5%;
    background-position:
      top left,
      top left,
      bottom right,
      bottom right;
    backdrop-filter: blur(1000px);
  }
}
