.recommendation {
  &__container {
    margin-bottom: 120px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__menu {
    display: block;
    align-items: flex-start;
    gap: 32px;
    align-self: center;
  }

  &__button {
    display: flex;
    box-sizing: border-box;
    padding: 12px 24px;
    height: 52px;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    border: 1px solid var(--Neutral-300, #e0e3eb);
    color: var(--Neutral-500, #888b97);
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin: 20px 0;

    &--house {
      background-color: var(--Green-100, #d1fae5);

      .button__name::before {
        content: url('../images/ph_house-fill.svg');
        width: 36px;
        height: 36px;
        vertical-align: -25%;
        margin-right: 6px;
      }
    }

    &--villa {
      .button__name::before {
        content: url('../images/ic_round-villa.svg');
        width: 36px;
        height: 36px;
        vertical-align: -25%;
        margin-right: 6px;
      }
    }

    &--apartment {
      .button__name::before {
        content: url('../images/ic_round-apartment.svg');
        width: 36px;
        height: 36px;
        vertical-align: -25%;
        margin-right: 6px;
      }
    }
  }
}

.section-name {
  color: var(--Yellow-500, #f59e0b);
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  display: block;

  &__wrapper {
    margin-left: -40px;
    margin-bottom: 12px;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 1px;
    background: var(--Yellow-500, #f59e0b);
    vertical-align: 25%;
    margin-right: 8px;
  }
}

.section-title {
  margin: 0;

  color: var(--MRT-App-Headline, #1b1c57);
  font-family: Lexend;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.swiper-button_wrapper {
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}

.recommended-swiper {
  &.slider__images-wrapper {
    margin: 0 auto;

    & img {
      margin-right: 16px;

      width: 40px;
      height: 40px;
      transform: translateY(2px);
    }

    & > .slider__text {
      justify-content: space-between;
      height: 48px;
    }
  }
}

.swiper-button-prev {
  width: 60px;
  height: 52px;
  border-radius: 32px;
  background: center url('../images/eva_arrow-ios-forward-fill (4).svg') no-repeat var(--Neutral-300, #e0e3eb);
  background-size: 28px;
  margin-right: 16px;
}

.swiper-button-next {
  width: 60px;
  height: 52px;

  border-radius: 32px;
  background: center url('../images/eva_arrow-ios-forward-fill (4).svg') no-repeat var(--Neutral-300, #e0e3eb);
  transform: rotate(180deg);
  background-size: 28px;
}

.swiper-button-next .active {
}

.recommended-carousel {
  &__main-wrapper {
    overflow: hidden;
  }

  &__slider-wrapper {
  }

  &__slide.swiper-slide {
    width: auto;
  }
}

.recommended-slider {
  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;

    & > .slider {
      &__title {
        color: var(--Neutral-900, #0e1735);
        font-family: Lexend;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 133.333% */
      }

      &__desc {
        color: var(--Neutral-500, #888b97);
        font-family: Lexend;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
      }
    }
  }
}

.house {
  &__pic {
    margin: 0 auto;
    display: flex;
    width: 178px;
    height: 200px;
    margin-bottom: 24px;
    background-size: cover;
    border-radius: 24px;
    align-items: flex-end;

    &--roselands {
      background-image: url('../images/Rectangle 15.png');
    }

    &--woodlandside {
      background-image: url('../images/woodlandside.png');
    }

    &--lighthouse {
      background-image: url('../images/lighthouse.png');
    }

    &--cosmo {
      background-clip: padding-box;
      background: url('../images/cosmo.jpeg') 0 -60px;
      background-size: 170%;
    }
  }

  &__offer {
    width: fit-content;
    padding: 8px 16px;
    flex-grow: 0;
    gap: 10px;
    border-radius: 32px;
    margin: 16px;

    &--roselands {
      background: var(--Red-100, #fee2e2);
      color: var(--Red-500, #ef4444);

      &::before {
        content: url('../images/ant-design_fire-filled.svg');
        width: 16px;
        height: 16px;
        vertical-align: -15%;
        margin-right: 10px;
      }
    }

    &--woodlandside {
      color: var(--Blue-700, #1d4ed8);
      background: var(--Blue-100, #dbeafe);

      &::before {
        content: url('../images/ph_house-fill (1).svg');
        width: 16px;
        height: 16px;
        vertical-align: -15%;
        margin-right: 10px;
      }
    }

    &--lighthouse {
      color: var(--Green-700, #047857);
      background: var(--Green-100, #d1fae5);

      &::before {
        content: url('../images/entypo_wallet.svg');
        width: 16px;
        height: 16px;
        vertical-align: -15%;
        margin-right: 10px;
      }
    }

    &--cosmo {
      background: var(--Red-100, #fee2e2);
      color: var(--Red-500, #ef4444);

      &::before {
        content: url('../images/ant-design_fire-filled.svg');
        width: 16px;
        height: 16px;
        vertical-align: -15%;
        margin-right: 10px;
      }
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    height: 72px;
  }

  &__name {
    color: var(--Neutral-900, #0e1735);
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
  }

  &__price {
    margin: 0 auto;
    color: var(--Neutral-700, #3c4563);
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
  }
}

.button {
  &:active {
    background-color: var(--Green-100, #d1fae5);
    transition: all 0.3s;
  }
}

@media (min-width: $sm) {
  .recommended-swiper {
    &.slider__images-wrapper {
      margin: 0;
    }
  }
  .recommendation {
    &__header {
      display: flex;
      flex-direction: row;
    }
  }
  .recommended-slider__content {
    text-align: left;
  }
}

@media (min-width: $md) {
  .recommendation {
    &__header {
      margin-right: 120px;
    }

    &__menu {
      display: inline-flex;
      align-self: flex-start;
    }

    &__button {
      margin: 0 0 40px 0;
    }
  }

  .swiper-button_wrapper {
    align-self: flex-start;
    display: flex;
  }
  .recommended-carousel__slide.swiper-slide {
  }
  .recommended-slider__content {
    display: block;

  }

  .house {

    &__pic {

      width: 340px;
      height: 382px;
    }

    &__price {
      margin: 0;
    }
  }
}
