.review {
  &__container {
    margin-bottom: 120px;
  }

  &__slide.swiper-slide {
  }
}

.section-title__wrapper--center {
  text-align: center;
  margin: 12px 0 40px 0;
}

.section-name__wrapper {
  max-width: 430px;
}

.section-name__wrapper--center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-name--line-up {
  &::before {
    vertical-align: 0;
    margin-right: 0;
    transform: translate(69.5px, -26px);
  }
}

.section-name {
}

.review-carousel {
  &__main-wrapper {
    overflow: hidden;
  }

  &__slider-wrapper {
  }

  &__slide.swiper-slide {
    width: auto;
  }
}

.review-slider {
  &__content {
    height: 505px;
    margin-bottom: 32px;

    & > .house {
      &__pic {
        width: 740px;
        height: 400px;
        border-radius: 8px;
        opacity: 0.7;
        background:
          lightgray 50% / cover no-repeat,
          #c4c4c4;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;

        &--yellow {
          background-image: url('../images/house_review1.jpg');
        }

        &--grey {
          background-image: url('../images/house_review2.jpeg');
        }

        &--white {
          background-image: url('../images/house_review3.jpeg');
        }
      }
    }
  }
}

.review-carousel {
  &__house {
    box-sizing: border-box;
    width: 612px;
    height: 249px;
    transform: translate(64px, -144px);
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);

    &--title {
      color: var(--MRT-App-Headline, #1b1c57);
      font-family: Lexend;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
    }

    &--text {
      color: var(--MRT-App-Neutral-01, #626687);
      font-family: Lexend;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      opacity: 0.75;
    }

    & > .contact {
      &__wrapper {
        height: 48px;

        & > .contact__photo--container {
          > .contact__image {
            width: 40px;
            height: 40px;
          }
        }

        & > .contact__name {
          font-size: 14px;
        }

        & > .contact__rating {
          color: var(--Neutral-700, #3c4563);
          font-family: Lexend;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px; /* 140% */
          margin-left: auto;

          &::before {
            content: '';
            display: inline-block;
            width: 28px;
            height: 28px;
            background: url('../images/bx_bxs-star.svg');
            vertical-align: -20%;
            margin-right: 16px;
          }
        }
      }
    }
  }
}

.review-carousel__swiper-pagination.swiper-pagination {
  position: relative;

  & > .swiper-pagination-bullet-active {
    background-color: #3c4563;
  }
}

@media (min-width: $md) {
  .review {
    &__container {
      margin-left: -120px;
    }
  }
}
