
.subscribe {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 4px 4px 4px 24px;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  border: 1px solid var(--Neutral-300, #e0e3eb);
  background: #fff;
  margin: 0 auto;
  top: 0;

  &__input {
    width: 100%;
    border: none;
    color: var(--Neutral-500, #888b97);
    font-family: Lexend, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
  }

  &__button {
    box-sizing: border-box;
    width: 30%;
    flex-shrink: 0;

    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 32px;
    background: var(--Green-500, #10b981);
    color: #fff;
    font-family: Lexend, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
  }

  &__image {
    position: absolute;
    display: none;

    &--chair {
      top: 38px;
      left: 44px;
    }

    &--blue_man {
      top: 71px;
      left: 204px;
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      border-radius: 36px;
      border: 2px solid #fff;
      box-shadow: 0 9px 32px 0 rgba(89, 92, 219, 0.1);

    }

    &--chair--yellow-woman {
      top: 173px;
      left: 67px;
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      border-radius: 36px;
      border: 2px solid #fff;

    }

    &--chair--white-house {
      top: 178px;
      left: 195px;

    }

    &--grey-house {
      top: 44px;
      left: 930px;

    }

    &--red-woman {
      top: 107px;
      left: 1082px;
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      border-radius: 36px;
      border: 2px solid #fff;

    }

    &--purple-man {
      top: 143px;
      left: 964px;
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      border-radius: 36px;
      border: 2px solid #fff;

    }

    &--circle-chair {
      top: 197px;
      left: 1072px;

    }
  }
}

.section-name--line-up {
  &::before {
    transform: translate(140px, -26px);
  }
}

.subscribe {
  &__container {
    box-sizing: border-box;

    height: 312px;
    flex-shrink: 0;
    padding-top: 65px;
    border-radius: 32px;
    background: url('../images/Rectangle 24.png') lightgray 50% / cover no-repeat;
    position: relative;
    margin-bottom: 120px;

    & > .section-title {
      margin: 0 auto 32px auto;
      text-align: center;
      width: 100%;

    }
  }


  &__input {
    &:focus-visible {
      outline: none;
    }
  }

  &__button {
  }
}

.button {
}

.footer {
  &__container {
  }
}

.container {
}

@media(min-width: $md) {
  .subscribe {
    width: 496px;


    &__button {
      width: 129px;
      padding: 12px 16px;
    }
  }
}

@media(min-width: $xl) {
  .subscribe {
    width: 496px;


    &__image {
      display: block;
    }

    &__container {
      width: 1200px;
      margin-left: auto;
      transform: translateX(-60px);
      margin-right: auto;

      & > .section-title {
        width: 422px;
      }
    }
  }
}